* {
    font-size: x-large;
    font-family: "Work Sans", sans-serif;
    color: #210B02;

}

html,
body {
    margin: 0;
    padding: 0;
}

@media (min-width: 1025px) {
    header {
        padding: 4px 39px 4px 39px;
        display: flex;
        justify-content: space-around;
        background-color: #DEC7BE;



    }

    header * {
        font-family: "Trirong", sans-serif;
        color: #5A4A42;
    }

    .AboutDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .About {
        position: relative;
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .DiscoverDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .Discover {
        position: relative;
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .HelpDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .Help {
        position: relative;
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FCFAF4;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }

    .dropdown-content a {
        color: #7E341B;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        font-weight: bold;
    }

    .About:hover .dropdown-content {
        display: block;
    }

    .Help:hover .dropdown-content {
        display: block;
    }

    .Discover:hover .dropdown-content {
        display: block;
    }

    .About:hover .AboutDropdown {
        cursor: pointer;
        font-weight: bold;
    }

    .Help:hover .HelpDropdown {
        font-weight: bold;
        cursor: pointer;
    }

    .Discover:hover .DiscoverDropdown {
        font-weight: bold;
        cursor: pointer;
    }

    .Product {
        padding: 16px;
        border: none;
    }

    .Product:hover {
        font-weight: bold;

    }

    .Product a {
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .Menu {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }


    .logo {
        margin: auto;
        width: 15%;
    }

    .logo a {
        font-family: 'Bree Serif', serif;
        color: #4A2E25;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }



    .shopnowbtn {
        margin: auto;
        display: flex;
        justify-content: end;
        width: 20%;
        white-space: nowrap;

    }

    .shopnowbtn a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 39px 8px 39px;
        background-color: #B84437;
        border: none;
        border-radius: 13px;
        text-decoration: none;
        width: 100%;
        color: white;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .shopnowbtn a:hover {
        transform: translateY(-2px);
        box-shadow: 0 14px 26px rgba(0, 0, 0, .18);
        background: #62564f;

    }


    .desktop-content {
        display: block;
    }

    .mobile-content {
        display: none;
    }

    .footerdescription {
        padding: 100px;
        width: 13%;
    }

    .description {
        padding-top: 20px;

    }

    .socialmedia {
        width: 40%;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .socialmedia img {
        width: 30px;
    }

}


.footer {
    background-color: #F5EFE9;
    display: flex;
    flex-wrap: wrap;
}

footer * {
    color: #7A6A62;
}

footer #logo a {
    font-family: 'Bree Serif', serif;
    margin: 0;
    font-weight: bold;
    color: #4A2E25;
    text-decoration: none;

}


.socialmedia a {
    padding-right: 20px;
}

.aboutfooter {
    padding: 100px;
    width: 13%;

}

.AboutTitle {
    color: #5A4A42;
    padding-bottom: 20px;
    font-weight: bold;
}

.aboutfooter a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
}

.Discoverfooter {
    padding: 100px;
    width: 13%;

}

.DiscoverTitle {
    color: #5A4A42;
    padding-bottom: 20px;
    font-weight: bold;
}

.Discoverfooter a {
    display: block;
    text-decoration: none;
    padding-top: 10px;

}

.Supportfooter {
    padding: 100px;
    width: 13%;

}

.SupportTitle {
    color: #5A4A42;
    padding-bottom: 20px;
    font-weight: bold;
}

.Supportfooter a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
}

footer a:hover {
    font-weight: bold;
}

.PDPA {
    background-color: #E5DDD5;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.PDPA a {
    text-decoration: none;
}

@media (max-width:1024px) {
    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #C9B5A8;
        padding: 12px 24px;
        position: relative;
        z-index: 10;

    }

    .logo a {
        font-family: 'Bree Serif', serif;
        color: #4A2E25;
        font-size: 24px;
        z-index: 10;
        font-weight: bold;
        text-decoration: none;

    }

    .menu-icon {
        font-size: 28px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }


    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform .4s ease;
        background-color: #C9B5A8;
        color: #fff;

    }

    .mobile-menu.open {
        transform: translateX(0);
    }

    .mobile-content header {
        width: 100%;
        max-width: 100vw;
        width: -webkit-fill-available;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 10px;
    }

    .mobile-menu li {
        margin: 20px 0;
    }

    .mobile-menu a,
    .dropdown-btn {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        background: none;
        border: none;
        text-align: left;
        width: 100%;
        display: block;
        cursor: pointer;
    }

    .dropdown-container {
        display: none;
        background-color: #B8A498;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
    }

    .dropdown-container a {
        display: block;
        padding: 8px;
        color: #fff;
    }


    .shopnow a {
        background-color: #B84437;
        border-radius: 10px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .shopnow a:hover {
        border: solid 0.5px black;
        box-shadow: 10px 3px 20px grey;

    }

    .close-btn {
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
    }

    .product {
        padding-left: 5px;
    }

    .footerdescription {
        width: 100%;
        text-align: center;
        padding-top: 50px;

    }

    .description {
        padding-top: 20px;


    }

    .socialmedia {
        width: 100%;
        padding-top: 20px;
        margin: auto;

    }

    .socialmedia img {
        width: 30px;
    }

    .aboutfooter {
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }

    .Discoverfooter {
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }

    .Supportfooter {
        padding-top: 50px;
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }
}