* {
    color: #FFFFFF;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

@media (min-width: 1024px) {
    header {
        padding: 16px 39px 16px 39px;
        display: flex;
        justify-content: space-around;
        background-color: #DEC7BE;

    }

    .AboutDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .About {
        position: relative;
        display: inline-block;
    }

    .DiscoverDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .Discover {
        position: relative;
        display: inline-block;
    }

    .HelpDropdown {
        background-color: transparent;
        padding: 16px;
        border: none;
    }

    .Help {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FCFAF4;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }

    .dropdown-content a {
        color: #7E341B;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        text-decoration: underline;

    }

    .About:hover .dropdown-content {
        display: block;
    }

    .Help:hover .dropdown-content {
        display: block;
    }

    .Discover:hover .dropdown-content {
        display: block;
    }

    .About:hover .AboutDropdown {
        text-decoration: underline;
        cursor: pointer;
    }

    .Help:hover .HelpDropdown {
        text-decoration: underline;
        cursor: pointer;
    }

    .Discover:hover .DiscoverDropdown {
        text-decoration: underline;
        cursor: pointer;
    }

    .Product {
        padding: 16px;
        border: none;
    }

    .Product:hover {
        text-decoration: underline;

    }

    .Product a {
        text-decoration: none;
    }

    .Menu {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }


    #logo {
        margin: auto;
        width: 15%;
        font-family: 'Bree Serif', serif;
        color: #4A2E25;
        font-size: 24px;
    }

    #logo img {
        width: 100%;
        height: min-content;
    }

    .shopnowbtn {
        margin: auto;
        display: flex;
        justify-content: end;
        width: 15%;
    }

    .shopnowbtn a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 39px 16px 39px;
        background-color: #B84437;
        border: none;
        border-radius: 13px;
        text-decoration: none;
        width: 100%;

    }

    .shopnowbtn a:hover {
        border: solid 0.5px black;
        box-shadow: 10px 3px 20px grey;

    }

    .desktop-content {
        display: block;
    }

    .mobile-content {
        display: none;
    }
}

@media (max-width:1023px) {
    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #C9B5A8;
        padding: 12px 24px;
        position: relative;
        z-index: 10;

    }

    .logo {
        font-family: 'Bree Serif', serif;
        color: #4A2E25;
        font-size: 24px;
        z-index: 10;

    }

    .menu-icon {
        font-size: 28px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background-color: #C9B5A8;
        color: #fff;
        transition: right 0.4s ease;
        padding: 20px;
        box-sizing: border-box;
        z-index: 5;
        height: min-content;
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-menu ul {
        list-style: none;
        padding: 10px;
    }

    .mobile-menu li {
        margin: 20px 0;
    }

    .mobile-menu a,
    .dropdown-btn {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        background: none;
        border: none;
        text-align: left;
        width: 100%;
        display: block;
        cursor: pointer;
    }

    .dropdown-container {
        display: none;
        background-color: #B8A498;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
    }

    .dropdown-container a {
        display: block;
        padding: 8px;
        color: #fff;
    }


    .shopnow a {
        background-color: #B84437;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
    }

    .shopnow a:hover {
        border: solid 0.5px black;
        box-shadow: 10px 3px 20px grey;

    }

    .close-btn {
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
    }

    .product {
        padding-left: 5px;
    }
}